.mainmenu.cglinscription {background:url('../img/cglinscription.png') center no-repeat;}

.mainmenu.CglLocation {background:url('../img/CglLocation.png') center no-repeat;}

.mainmenu.CglResa {background:url('../img/CglResa.png') center no-repeat;}


